<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928475972268-e8fhu8sbmvjtkqmauhv99evqbs6g95l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928475972268-e8fhu8sbmvjtkqmauhv99evqbs6g95l6</string>
	<key>API_KEY</key>
	<string>AIzaSyCQMMIqArY_A19hHwHf11PMHJageVM5S7o</string>
	<key>GCM_SENDER_ID</key>
	<string>928475972268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zoehor.fitness</string>
	<key>PROJECT_ID</key>
	<string>fitness202009</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness202009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:928475972268:ios:2a28504bf8ba7ac32ad509</string>
	<key>DATABASE_URL</key>
	<string>https://fitness202009.firebaseio.com</string>
</dict>
</plist>
